/* reset css */
* {
    /* margem - externa */
    margin: 0%;
    box-sizing: border-box;
}



body {
    /* cor fundo */
    background-color: rgb(199, 220, 252);

    /* cor texto */
    color: rgb(235, 241, 173);
}

/* seletor para os <A> */
a {
    /* propriedade e VALOR */
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* header = cabeçalho */
header {
    /* ROW linha Horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7ed0df;
    /* largura ou comprimento */
    width: 100%;

}

/* UL sistema lista tópicos */
.menu {
    list-style: none;
    /* lista horizontal */
    display: flex;
    /* espaço */
    gap: 1rem;
    /* um rem */
}

/* tag NAV */
.menu-desktop {
    display: none;
}

/* logo */
.logo {
width: 7rem;
}




/* daqui para cima versão mobile */
/* ========================================================================================================================================== */



/* Responsivo */
/* serve para telas maiores */
/* telas maiores que 768px */
@media(min-width: 768px) {

   header {
        /* espaço interno */
        padding: 1rem 6rem;
        justify-content: ;
        gap: ;
    }

/* NAV */
.menu-desktop {

display: flex;

}

}



 